<p-toast></p-toast>
<div class="admin-page">
    <p-card
        [header]="editMode ? 'Edit User' : 'Add User'"
        subheader="Add Or Edit Users"
    >
        <div class="grid mb-5">
            <div class="col-12">
                <p-toolbar>
                    <div class="toolbar-group-left"></div>
                    <div class="toolbar-group-right">
                        <p-button
                            styleClass="p-button-primary mr-2"
                            (onClick)="onSubmit()"
                            [label]="editMode ? 'Edit' : 'Add'"
                            [icon]="editMode ? 'pi pi-pencil' : 'pi pi-plus'"
                        ></p-button>
                        <p-button
                            styleClass="p-button-secondary"
                            (onClick)="onGoBack()"
                            label="Cancel"
                            icon="pi pi-arrow-circle-left"
                        ></p-button>
                    </div>
                </p-toolbar>
            </div>
        </div>
        <div class="grid">
            <div class="col-12">
                <form [formGroup]="newUserForm">
                    <div class="formgrid grid">
                        <div class="field col-4">
                            <label for="name">Name</label>
                            <input
                                formControlName="name"
                                type="text"
                                class="w-full"
                                pInputText
                            />
                            <small
                                *ngIf="userForm['name'].invalid && isSubmited"
                                class="p-error"
                                >Name is required</small
                            >
                        </div>
                        <div class="field col-4">
                            <label for="email">E-Mail</label>
                            <input
                                formControlName="email"
                                type="text"
                                class="w-full"
                                pInputText
                            />
                            <small
                                *ngIf="userForm['email'].invalid && isSubmited"
                                class="p-error"
                                ><span
                                    *ngIf="
                                        userForm['email'].hasError('required')
                                    "
                                    >Email is required</span
                                >
                                ><span
                                    *ngIf="userForm['email'].hasError('email')"
                                    >Email is Invalid</span
                                ></small
                            >
                        </div>
                        <div class="field col-4">
                            <label for="icon">Password</label>
                            <input
                                formControlName="password"
                                type="password"
                                class="w-full"
                                pInputText
                            />
                            <small
                                *ngIf="
                                    userForm['password'].invalid && isSubmited
                                "
                                class="p-error"
                                >Password is required</small
                            >
                        </div>
                        <div
                            class="field col-4 flex flex-column align-items-center"
                        >
                            <label for="phone">Phone</label>
                            <p-inputMask
                                mask="(6999) 999 999"
                                formControlName="phone"
                                placeholder="(6999) 999 999"
                                styleClass="w-full"
                            ></p-inputMask>
                            <small
                                *ngIf="userForm['phone'].invalid && isSubmited"
                                class="p-error"
                                >Phone is required</small
                            >
                        </div>
                        <div
                            class="field col-4 flex flex-column align-items-center"
                        >
                            <label for="isAdmin">Is Admin</label>
                            <p-inputSwitch
                                formControlName="isAdmin"
                            ></p-inputSwitch>
                        </div>
                        <div class="formgrid grid">
                            <div class="field col-4">
                                <label for="street">Street</label>
                                <input
                                    formControlName="street"
                                    type="text"
                                    pInputText
                                    class="w-full"
                                />
                            </div>
                            <div class="field col-4">
                                <label for="apartment">Apartment</label>
                                <input
                                    formControlName="apartment"
                                    type="text"
                                    pInputText
                                    class="w-full"
                                />
                            </div>
                            <div class="field col-4">
                                <label for="zip">Zip Code</label>
                                <input
                                    formControlName="zip"
                                    type="text"
                                    pInputText
                                    class="w-full"
                                />
                            </div>
                            <div class="field col-4">
                                <label for="city">City</label>
                                <input
                                    formControlName="city"
                                    type="text"
                                    pInputText
                                    class="w-full"
                                />
                            </div>
                            <div
                                class="field col-4 flex flex-column align-items-center"
                            >
                                <label for="country">Country</label>
                                <p-dropdown
                                    [options]="countries"
                                    formControlName="country"
                                    optionLabel="name"
                                    optionValue="id"
                                    [filter]="true"
                                    filterBy="name"
                                    [showClear]="true"
                                    placeholder="Select a Country"
                                ></p-dropdown>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </p-card>
</div>
