<p-toast></p-toast>
<div class="admin-page">
    <p-card header="Orders" subheader="List of all Orders">
        <div class="grid">
            <div class="col-12">
                <p-table
                    styleClass="p-datatable-gridlines"
                    [value]="orders"
                    [tableStyle]="{ 'min-width': '50rem' }"
                >
                    <ng-template pTemplate="header">
                        <tr>
                            <th class="text-center" pSortableColumn="name">
                                User<p-sortIcon field="name"></p-sortIcon>
                            </th>
                            <th
                                class="text-center"
                                pSortableColumn="totalPrice"
                            >
                                Total Price
                                <p-sortIcon field="totalPrice"></p-sortIcon>
                            </th>
                            <th
                                class="text-center"
                                pSortableColumn="dateOrdered"
                            >
                                Date Ordered
                                <p-sortIcon field="dateOrdered"></p-sortIcon>
                            </th>
                            <th class="text-center" pSortableColumn="status">
                                Status <p-sortIcon field="status"></p-sortIcon>
                            </th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-order>
                        <tr>
                            <td class="text-center">{{ order.user.name }}</td>
                            <td class="text-center">
                                {{ order.totalPrice | currency : '€' }}
                            </td>
                            <td class="text-center">
                                {{ order.dateOrdered | date : 'short' }}
                            </td>
                            <td class="text-center">
                                <p-tag
                                    [value]="orderStatus[order.status].label"
                                    [severity]="orderStatus[order.status].color"
                                    [rounded]="true"
                                ></p-tag>
                            </td>
                            <td class="text-center">
                                <p-button
                                    (onClick)="onDeleteOrder(order._id)"
                                    styleClass="p-button-danger mr-2"
                                    icon="pi pi-trash"
                                ></p-button>

                                <p-button
                                    (onClick)="onShowOrder(order._id)"
                                    styleClass="p-button-success"
                                    icon="pi pi-eye"
                                ></p-button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </p-card>
</div>
<p-confirmDialog
    [style]="{ width: '50vw' }"
    [baseZIndex]="10000"
    rejectButtonStyleClass="p-button-text"
></p-confirmDialog>
